.root {
  & :global(.app-Checkbox-body) {
    display: flex;
    align-items: center;
  }
}

.input {
  width: 20px;
  height: 20px;
}

.icon {
  width: 10px;
  height: 10px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: px;
  width: 100%;
}

.label {
  width: 220px;
  & :global(.app-Flex-root) {
    height: 30px;
    border-radius: 4px;
  }
}
